{% include /header-home.html %}

{% include /top-line.html %}

	<div class="contacts-one" style="background-image: url(img/contacts.jpg)"></div>


	<section class="s-wide s-grey name-page">
		<h1>КОНТАКТЫ</h1>
	</section>
	<section class="contact">
		<p>По всем возникшим вопросам обращайтесь по телефону <br> <a href="tel:+79251944143"><i class="fa fa-phone"></i>  + 7 925 194 41 43</a><br> Андрей</p>
		<nav class="soc">

			<ul>
{{ site.soc}}
			</ul>
	
		</nav>

	</section>

{% include /main-foot.html %}
	


