{% include /header-home.html %}

{% include /top-line.html %}

	<section class="s-wide s-grey name-page">
		<h1>НАШИ ВЫПОЛНЕННЫЕ РАБОТЫ</h1>
	</section>

	<div class="gallery-section">
		<div class="row">
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG-1.JPG" class="gallery" style="background-image: url(img/result/IMG-1.JPG)"></a>
			</div>
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5116.JPG" class="gallery" style="background-image: url(img/result/IMG_5116.JPG)"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5198.JPG" class="gallery" style="background-image: url(img/result/IMG_5198.JPG)"></a>
			</div>
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5204.JPG" class="gallery" style="background-image: url(img/result/IMG_5204.JPG)"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG-2.jpg" class="gallery" style="background-image: url(img/result/IMG-2.jpg)"></a>
			</div>
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5213.JPG" class="gallery" style="background-image: url(img/result/IMG_5213.JPG)"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5208.JPG" class="gallery" style="background-image: url(img/result/IMG_5208.JPG)"></a>
			</div>
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5210.JPG" class="gallery" style="background-image: url(img/result/IMG_5210.JPG)"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG-3.jpg" class="gallery" style="background-image: url(img/result/IMG-3.jpg)"></a>
			</div>
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5216.JPG" class="gallery" style="background-image: url(img/result/IMG_5216.JPG)"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5228.JPG" class="gallery" style="background-image: url(img/result/IMG_5228.JPG)"></a>
			</div>
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5235.JPG" class="gallery" style="background-image: url(img/result/IMG_5235.JPG)"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5243.JPG" class="gallery" style="background-image: url(img/result/IMG_5243.JPG)"></a>
			</div>
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5247.JPG" class="gallery" style="background-image: url(img/result/IMG_5247.JPG)"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5250.JPG" class="gallery" style="background-image: url(img/result/IMG_5250.JPG)"></a>
			</div>
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5281.JPG" class="gallery" style="background-image: url(img/result/IMG_5281.JPG)"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-sm-12">
					<a href="img/result/IMG_5289.JPG" class="gallery" style="background-image: url(img/result/IMG_5289.JPG)"></a>
			</div>
			<div class="col-lg-6 col-sm-12">
					<a href="img/result//u0WJjGWxyOw.jpg" class="gallery" style="background-image: url(img/result/u0WJjGWxyOw.jpg)"></a>
			</div>
		</div>
	</div>

{% include /main-foot.html %}

